.raffle-img {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.iconBox {
    display: inline-block;
}
.counterText {
    display: inline-table;
}
.counterText span {
    display: block;
    font-size: 40px;
}