body{
    font-family: arial;
    margin: 0;
}
/* nav{
    background: #ff5353;
    padding: 20px 10px;
}
nav ul{
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}
nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0;
}
nav a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    display: block;
}
main, header{
    max-width: 960px;
    margin: 30px auto;
    padding: 0 10px;
    color: #333;
} */
main img{
    width: 40px;
    margin-right: 10px;
    position: relative;
    top: 12px;
}
main p{
    display: inline-block;
}
.rounded{
    border-radius: 90px;
    width: 40px;
}